body {
	text-align: center;
	font-family: Georgia, Serif, "Times New Roman";
}
#gameground {
	margin:0;
	margin-right: auto;
	margin-left: auto;
	width: 365px;
	height: 360px;
	padding:0;
	/*border:1px groove gray;*/
}
#my_button {
	width :130px;
	height:40px;
	font-size: 20px;
	text-align: center;
	background-color: #0080FF;
	color:#FFFFF0;
	margin-top: 30px;
}

.img_fragment {
	/*margin:1px;*/
	border: 1px groove gray;
	display: inline;
}
#blank {
	border:0;
	margin:1px;
}

#choose {
	margin-bottom:30px;
	font-size: 18px;
}
