h1, h2 {
	font-weight: lighter;
}

#layout {
	width: 90%;
	text-align: center;
	margin-top: 40px;
	font-family: Verdana, Arial, sans-serif;
}

#maze {
	width: 500px;
	height: 300px;
	position: relative;
	margin: 10px auto;
	border: 1px solid black;
}

.block {
	background-color: #EEEEEE;
	border: 1px solid black;
}

#block1 {
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	position:absolute;
}

#block2 {
	height: 150px;
	width: 150px;
	top: 50px;
	left: 0;
	border-top: 1px solid #EEEEEE;
	position:absolute;
}

#block3 {
	height: 150px;
	width: 150px;
	top: 50px;
	left: 350px;
	border-top: 1px solid #EEEEEE;
	position:absolute;
}

#block4 {
	height: 50px;
	width: 100%;
	bottom: 0;
	left: 0;
	position:absolute;
}

#block5 {
	width: 100px;
	height: 150px;
	bottom: 50px;
	left: 200px;
	border-bottom: 1px solid #EEEEEE;
	position:absolute;
}

#trailer {
	background-color: #EEEEEE;
	width: 100px;
	height: 30px;
	border: 1px solid black;
	margin: 0 auto;
}

.path {
	background-color: white;
	cursor: pointer;
}

#path1 {
	width: 155px;
	height: 46px;
	bottom: 52px;
	left: -1px;
	position:absolute;
}

#path2 {
	width: 48px;
	height: 196px;
	top: 52px;
	left: 152px;
	position:absolute;
}

#path3 {
	width: 152px;
	height: 46px;
	top: 52px;
	left: 198px;
	position:absolute;
}

#path4 {
	width: 48px;
	height: 152px;
	top: 96px;
	right: 150px;
	position:absolute;
}

#path5 {
	width: 108px;
	height: 46px;
	bottom: 52px;
	right: 44px;
	position:absolute;
}

p {
	text-align: left;
	font-size: 16px;
}

.change {
	background-color: red;
}

#start_block {
	font-family: Verdana, sans-serif;
	font-size: 25px;
	line-height: 46px;
	background-color: green;
	width: 42px;
	height: 42px;
	float: left;
	position: absolute;
	top: 2px;
}

#end_block {
	bottom: 52px;
	font-family:  Verdana, sans-serif;
	font-size: 25px;
	line-height: 46px;
	background-color: violet;
	width: 46px;
	height: 46px;
	float: right;
	position: absolute;
	right: -1px;
}

#end-box {
	margin: 0 auto;
	width: 650px;
}

